#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1f1c54 , #04061b);
    height: calc(100vh - 4px); /* Garante que a sidebar ocupe toda a altura da tela */
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    left: 0;
    transition: all .5s;
    width: 80px;
    z-index: 1001;
    overflow-y: auto; /* Adiciona comportamento de overflow */
    direction: rtl;
    border: 2px solid white;
    border-left: none;
}
#sidebar img {
    filter: invert(1);
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #000000;
    font-size: 12px;
}

#sidebar_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    list-style: none;
    
    overflow-y: auto; /* Adiciona comportamento de overflow ao conteúdo */
}

#side_items {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    list-style: none;
    width: 100%; /* Garante que os itens ocupem a largura total */
}
#side_items li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.side-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    color: white;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f788;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    text-align: start;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -15px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

#sidebar_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    width: 100%;
}
.item-description {
    display: none;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    width: auto;
    transition: width 0.5s;
}

#sidebar.open-sidebar .item-description {
    margin-left: 4%;
    display: flex;
    width: 150px;
    height: auto;
    justify-content: flex-end;
    color: white;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.icon-image {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
