body, html, #root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(rgba(15,15,52,1) 0%, rgba(61,36,107,1) 33%, rgba(65,26,125,1) 100%); 
    backdrop-filter: blur(5px);
}
.app {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 80px);
    height: calc(100vh - 40px);
    padding-left: 80px;
}
.content {
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
}

