.logo-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 20px; /* Espaço entre a logo e o formulário */
}

.logo {
    max-width: 1000px; /* Ajuste o tamanho conforme necessário */   
    width: auto;
    height: auto;
}

.login-container {
    background: rgba(17, 24, 39, 0.8); /* Fundo escuro com opacidade */
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px; /* Largura ajustada */
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ffffff;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease;
}

.form-group input:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.forgot-password {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #00bfff;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #00ffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.login-btn {
    padding: 10px;
    background: linear-gradient(45deg, #00bfff, #1e90ff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
}

.login-btn:hover {
    background: linear-gradient(45deg, #1e90ff, #00bfff);
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.8);
}

