.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    align-items: center;
    position: fixed;
    
}

.oms {
    border-radius: 7px;
    background-color: #03073a;
    display: flex;
    justify-content: center;
    
}
.oms h1{
    text-align: center;
}
header h1 {
    margin: 0;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #000000;
}

th {
    background-color: #03073a;
    color: #ffffff;
}

.green {
    background-color: #90ee90;
}

.yellow {
    background-color: #ffff61;
}

.red {
    background-color: #d64240;
}

.legend {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 25px;
}

.legend p {
    margin: 0;
    font-weight: bold;
    color: #000000;
}

.legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.form-container {
    margin-top: 20px;
}

.form-container input {
    margin: 5px;
    padding: 5px;
}

.back-button, .add-button {
    color: #fff;
    background-color: #03073a;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px;
    text-decoration: none;
}

.back-button:hover, .add-button:hover {
    background-color: hsl(250, 3%, 64%);
}

.voltar{
    background-color: #03073a;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border-color: #fff;
    align-items: center;
    cursor: pointer;
}

.voltar:hover{
    transition: background-color 1s;
    background-color: hsl(250, 3%, 64%);
    color: #fff;

}